.tab-name{
    font-size: 21px;
}

.custom-sidebar > .p-accordion-header-link{
    background-color:inherit;
    width: 10vw;
    height: auto;
    font-size: 15px;
}

.check-badge{
    float: right;
    margin-left: 4px;
    text-align: center;
    align-items: center;
    height:1.7em;
    width: 1.7em;
    font-size: 0.6em;
}