.solution-container {
    min-height: 340px;
    box-sizing: border-box;
    box-shadow: none;
}
.p-tabview-panels a {
    background-color:inherit;
    border: 0;
}
.center-btn {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    padding: 9% 0;
  }